---
import { getCollection, type CollectionEntry } from "astro:content";
import BaseLayout from "@/layouts/BaseLayout.astro";
import Badge from "@/components/Badge.astro";
type JobProps = CollectionEntry<"jobs">;
const jobs = await getCollection("jobs");
type RecommendationProps = CollectionEntry<"recommendations">;
const recommendations = await getCollection("recommendations");
import ProjectCarousel from "@/components/ProjectCarousel.astro";
---

<BaseLayout
  title="About"
  description="Cloud engineer that loves to continuously learn."
>
  <header class="pb-8 pt-40">
    <h1 class="font-semibold">About&nbsp;&not;</h1>
    <p class="text-secondary mt-1 text-pretty">
      Cloud engineer that loves to continuously learn. Currently apart of the managed operations team at AWS. I also run a couple of companies: <a href="http://www.sample-surplus.com">Sample Surplus</a> & Barrage800. Sample Surplus is a streetwear brand that serves as my creative outlet. Barrage800 is a technical apparel brand with the focus on durable, sweat wicking hats.
    </p>
  </header>

  <section class="py-8 border-t border-primary" id="experience">
    <h2 class="font-semibold mb-8">Experience</h2>
    <ul class="-my-8 divide-y divide-primary divide-dashed">
      {
        jobs
          .sort(
            (a, b) =>
              Date.parse(b.data.startDate.toString()) -
              Date.parse(a.data.startDate.toString())
          )
          .map((job: JobProps) =>
            job.render().then(({ Content }) => (
              <li class="py-8 grid sm:grid-cols-3 gap-x-8 gap-y-4">
                <h3 class="sm:col-span-3 font-semibold flex items-center gap-x-1">
                  {job.data.title} at {job.data.company}
                  {!job.data.endDate && <Badge>Current</Badge>}
                </h3>
                <div class="sm:col-span-2 prose">
                  <Content />
                </div>
                <ul class="pl-6 sm:pl-4 marker:text-subtle list-square">
                  {job.data.tools.map((tool) => (
                    <li>{tool}</li>
                  ))}
                </ul>
                {job.data.projects && (
                  <div class="mt-4 col-span-full">
                    <ProjectCarousel projects={job.data.projects} />
                  </div>
                )}
              </li>
            ))
          )
      }
    </ul>
  </section>

  <!-- <section class="pt-8 pb-16 border-t border-primary" id="interests">
    <h2 class="font-semibold mb-8">Interests</h2>
    <div class="grid grid-cols-2 gap-8">
      <div class="dark:bg-neutral-800 bg-neutral-100 px-4 py-8 rounded">
        <p class="mb-24 text-secondary">01.</p>
        <h3 class="font-semibold">CSS</h3>
        <p class="mt-4 text-balance">
          I've spent most of my career obsessing over CSS architecture. These
          days I am all in on Tailwind CSS and can't see myself not using it
          anymore.
        </p>
      </div>

      <div class="dark:bg-neutral-800 bg-neutral-100 px-4 py-8 rounded">
        <p class="mb-24 text-secondary">02.</p>
        <h3 class="font-semibold">Component API design</h3>
        <p class="mt-4">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi,
          molestiae.
        </p>
      </div>
    </div>
  </section> --> 
    </ul>
  </section>
</BaseLayout>
