---
import BaseLayout from "@/layouts/BaseLayout.astro";
const commitSha = import.meta.env.PUBLIC_VERCEL_GIT_COMMIT_SHA || "";
---

<BaseLayout>
  <h1 class="sr-only">Homepage</h1>
  <section class="prose py-40">
    <dl>
      <dt>Name</dt>
      <dd>Brett Pierce</dd>
      <dt>Location</dt>
      <dd>Brambleton, VA.</dd>
      <dt>Work</dt>
      <dd>
        Cloud Engineer at <a href="https://aws.amazon.com">Amazon Web Services</a>
      </dd>
      <dt>Version</dt>
      <dd><code>1.0.0-alpha</code></dd>

      {
        commitSha && (
          <>
      <dt>Latest commit</dt>
            <dd>
              <a
                href={`https://github.com/alexcarpenter/alexcarpenter.me/commit/${commitSha}`}
              >
                <code>{commitSha.slice(0, 7)}</code>
              </a>
            </dd>
          </>
        )
      }
    </dl>
  </section>
</BaseLayout>
