---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout>
  <h1 class="sr-only">Homepage</h1>
  <section class="prose py-40">
    <dl>
      <dt>Name</dt>
      <dd>Brett Pierce</dd>
      <dt>Location</dt>
      <dd>Brambleton, VA.</dd>
      <dt>Work</dt>
      <dd>
        Cloud Engineer at <a href="https://aws.amazon.com">Amazon Web Services</a>
        Also a small business owner: <a href="https://www.sample-surplus.com">Sample Surplus</a> & Barrage800
      </dd>
      <dt>Version</dt>
      <dd><code>1.1.0-alpha</code></dd>
    </dl>
  </section>
</BaseLayout>
