---
// Frontmatter for metadata
title: "Now"
description: "What I am up to now"
published: "2024-03-18"
updated: "2024-10-29"
// Import statements
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="Now" description="What I'm up to.">
  <header class="pb-8 pt-40 border-b border-primary">
    <h1 class="font-semibold">Now&nbsp;&not;</h1>
    <p class="text-secondary text-pretty mt-1">
      What I'm up to now (Last updated 10/29/2024).
    </p>
  </header>
<section class="prose py-40">
    <dl>
      <dt>Reading:</dt>
      <dd>Honestly.. Nothing :(</dd>
      <dt>Playing:</dt>
      <dd>Black Ops 6 (PS5)</dd>
      <dt>Listening:</dt>
      <dd>
        <b>Chromakopia</b> by <i>Tyler, The Creator</i>
      </dd>
    </dl>
  </section>
</BaseLayout>
